#landingpage_image_1 {
  background-image: url("../images/landingpage_image_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
#landingpage_image_2 {
  background-image: url("../images/landingpage_image_2.jpg");
  background-size: cover;
  height: 100vh;
}
#landingpage_image_3 {
  background-image: url("../images/landingpage_image_3.jpg");
  background-size: cover;
  height: 100vh;
}

#WelcomeBox {
  background-color: white;
  background-size: cover;
}

#FourSectionTop {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #fff,
    #c7c7c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #fff,
    #c7c7c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#FourSectionBottom {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fff,
    #b7b7b7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fff,
    #b7b7b7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
